---
---
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Canon React - React Components for Rackspace&reg; Canon</title>

  <link rel="stylesheet" href="https://eafdbc63c97ce6bec9ef-b0a668e5876bef6fe25684caf71db405.ssl.cf1.rackcdn.com/v1-latest//canon.min.css">
  <link rel="stylesheet" type="text/css" href="http://rackerlabs.github.io/canon/css/site.css">
  <link rel="stylesheet" type="text/css" href="http://rackerlabs.github.io/canon/css/syntax.css">
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/main.css">

  <script src="https://fb.me/react-with-addons-0.14.8.min.js"></script>
  <script src="https://fb.me/react-dom-0.14.8.min.js"></script>
</head>

<body class="rs-responsive">
  <div class="rs-wrapper">
    <div class="rs-nav-utility rs-fixed-top">
      <div class="rs-container">
        <ul class="rs-nav">
          <li class="rs-nav-item"><a class="rs-nav-link" href="{{ site.baseurl }}/">Canon-React</a></li>
          <li class="rs-nav-item"><a class="rs-nav-link" href="{{ site.baseurl }}/get-started">Get Started</a></li>
          <li class="rs-nav-item active"><a class="rs-nav-link" href="{{ site.baseurl }}/components">Components</a></li>
          <li class="rs-nav-item "><a class="rs-nav-link" href="https://github.com/rackerlabs/canon-react">GitHub</a></li>
        </ul>
      </div>
    </div>

    <div class="site-header-secondary-page">
      <div class="site-header-content">
        <div class="rs-container">
          <div class="site-header-title-secondary">Components</div>
          <p class="site-header-title-sub">Canon UI Components built with React</p>
        </div>
      </div>
    </div>

    <div class="rs-nav-secondary nav-secondary-affix"  data-spy="affix">
      <div class="rs-container">
        <ul class="rs-nav">
          <li class="rs-nav-item"><a class="rs-nav-link" href="#buttons">Buttons</a></li>
          <li class="rs-nav-item"><a class="rs-nav-link" href="#button-groups">Button Groups</a></li>
          <li class="rs-nav-item"><a class="rs-nav-link" href="#progress-bars">Progress Bars</a></li>
          <li class="rs-nav-item"><a class="rs-nav-link" href="#status-indicators">Status Indicators</a></li>
          <li class="rs-nav-item"><a class="rs-nav-link" href="#popovers">Popovers</a></li>
          <li class="rs-nav-item"><a class="rs-nav-link" href="#tooltips">Tooltips</a></li>
          <li class="rs-nav-item"><a class="rs-nav-link" href="#facets">Facets</a></li>
          <li class="rs-nav-item"><a class="rs-nav-link" href="#dropdown">Dropdowns</a></li>
        </ul>
      </div>
    </div>

    <div class="rs-body" id="components-content"></div>
  </div>
  
  <div class="rs-nav-footer">
    <div class="rs-container">
    </div>
  </div>

  <script type="text/javascript" src="{{ site.baseurl }}/documentation/bundle.js"></script>
</body>
</html>
