div.rs-body {
  font-family: source-sans-pro-regular;
}

body.rs-responsive {
  font-family: source-sans-pro-regular;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  /*font-family: source-sans-pro-semibold;*/
}

p, li.chapter {
  font-family: source-sans-pro-regular;
}

#components-content > div > div.rs-inner > h3 {
  font-size: 24px;
}

body > div > div.book-summary > nav > ul > li.chapter > a {
  font-size: 13px;
}

body > div.book.without-animation.with-summary > div.book-summary
> nav > ul > li.chapter.active > ul > li:nth-child(n) > a {
  font-size: 13px;
}

body > div > div.book-summary > nav > ul > li:nth-child(n) > ul > li:nth-child(n) > a {
  font-size: 13px;
}

body > div.book.without-animation.with-summary
> div.book-body > div > div.page-wrapper > div {
  margin: inherit;
  padding: inherit, inherit, inherit, 10px;
  max-width: inherit;
  position: inherit;
  zoom: inherit;
}

#components-content > div > div.rs-inner > div > div > div > div.website-content-section {
  zoom: inherit;
}

#components-content > div > div.rs-inner > div > div > div {
  box-shadow: none;
  background: inherit;
}

body > div.book.without-animation.with-summary
> div.book-summary > nav > ul > li.chapter.active > a {
  color: #AB0521;
}

body > div.book.without-animation.with-summary > div.book-summary > nav > ul
> li:nth-child(n) > ul > li.chapter.active > a {
  color: #AB0521;
}

body > div > div.book-summary {
  background: #ffffff;
}

body > div.book.without-animation.with-summary > div.book-summary > nav > ul > li.chapter.active > ul {
  margin: inherit;
}

body > div > div.book-summary > nav > ul > li:nth-child(n) > ul {
  margin: inherit;
}

div#book-search-input {
  height: 52px;
  width: 300px;
  margin-bottom: 0;
  margin-top: 0;
}

div#book-search-results {
  padding-left: 50px;
}

div#book-search-input > input[type="text"] {
  height: inherit;
  width: inherit;
  font-size: 13px;
  margin: inherit;
}

#book-search-results > div.search-results > div.has-results > ul > li:nth-child(n) {
  color: inherit;
}

#book-search-results > div.search-noresults > section
> div.rs-nav-secondary.nav-secondary-affix > div > ul {
  box-shadow: none;
  border-bottom: none;
}

#book-search-input {
  background: inherit;
}

#components-content > div > div.rs-inner > div > div {
  margin: inherit;
}

#components-content > div > div.rs-inner > div {
  padding-left: inherit;
}

#components-content > div > div.rs-inner > div > div > div
> div > div > div > div > div > table > thead > tr > th {
  color: inherit;
}

div > div.header-section-subtitle {
  font-family: source-sans-pro-semibold;
  text-transform: uppercase;
}

div > div.header-section-title {
  font-size: 3em;
  font-family: source-sans-pro-semibold;
  text-transform: uppercase;
}

div > div.header-section-subtitle.updated {
  margin-top: 10px;
  font-family: source-sans-pro-regular;
}

div.content-section-title {
  font-family: source-sans-pro-semibold;
  font-size: 1.5em;
  text-transform: capitalize;
}

body > div.book.without-animation.with-summary > div.book-body > a.navigation {
  max-width: 50px;
  min-width: 50px;
}

@font-face {
  font-family: source-sans-pro-extra-light;
  src: url(../fonts/SourceSansPro-ExtraLight.ttf);
}

@font-face {
  font-family: source-sans-pro-light;
  src: url(../fonts/SourceSansPro-Light.ttf);
}

@font-face {
  font-family: source-sans-pro-regular;
  src: url(../fonts/SourceSansPro-Regular.ttf);
}

@font-face {
  font-family: source-sans-pro-semibold;
  src: url(../fonts/SourceSansPro-Semibold.ttf);
}

@font-face {
  font-family: source-sans-pro-bold;
  src: url(../fonts/SourceSansPro-Bold.ttf);
}

@font-face {
  font-family: source-sans-pro-black;
  src: url(../fonts/SourceSansPro-Black.ttf);
}
